.replace_navbar{
    height: 6rem;
}
.navbar_box{
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-around;
    height: 6rem;
    background-color:white;
    top: 0px;
    /* align-items: center; */
    border-bottom: 0.05px solid rgb(206, 204, 204);
  position: fixed;
  width: 100%;
  z-index: 100;
 
}
.logo{
    /* border: 2px solid rgb(224, 22, 22); */
    display: flex;
    align-items: center;
    font: 2em sans-serif;
    font-weight: 600;
    color: #294B29;
    border-right: 0.05px solid rgb(206, 204, 204);
    padding-right: 40px;
}
.location{
    display: flex;
    
    align-items: center;
    /* border: 5px solid rgb(32, 23, 196); */
    /* width: 10rem;
    height: 3rem; */
    
   

}
.triangle{
    position: absolute;
    /* border: 2px solid rgb(202, 62, 62); */
    top: 6.19rem;
    transform: rotate(45deg);
    z-index: 0;
    left: 22rem;
    background-color: white;
    border: 0.05px solid rgb(206, 204, 204);
}
.location .loc_box{
    position: absolute;
    /* border: 2px solid rgb(202, 62, 62); */
    top: 6.8rem;
    left: 10rem;
    height: 8.5rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border-radius: 5px;
    background-color:white;
    /* padding: 10px; */
    border: 0.05px solid rgb(206, 204, 204);
    z-index: 1;
    
}
.loc_box .b1{
    border-bottom: 0.05px solid rgb(206, 204, 204);
    /* border: 2px solid rgb(236, 55, 55); */
    display: flex;
    width: 99.9%;
    padding-left: 10px;
    padding-bottom: 10px;

}
.loc_box .b3i{
    margin-top: 6px;
    /* border: 2px solid black; */
    font-size: 2.5rem;
    margin-right: 10px;
    color: #294B29;
}
.loc_box .b4{
    /* border: 2px solid rgb(232, 112, 112); */
    font-size: 1rem;
}
.loc_box .b2{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3.5rem;
    align-items: center;
    width: 99%;
}
.b2 .but1{
    padding: 0px;
    /* border: 2px solid black; */
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #294B29;
    color: white;
}
.b2 .but2{
    padding: 0px;
    border-radius: 5px;
    height: 2rem;
    /* border: 2px solid black; */
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #294B29;
    color: white;
}

.location a  p{
    font-size: 20px;
    font-weight: 500;
   
}
.searchbar_box{
    display: flex;
    align-items: center;
    width: 45rem;
    /* border: 2px solid rgb(16, 16, 15); */
   
   

   
}
.box{
    /* border: 2px solid rgb(16, 16, 15); */
    display: flex;
    align-items: center;
    width: 50rem;
    border-radius: 5px;
    height: 3rem;
    background-color:  #f7f3f3;
    padding-left: 10px;
   
    
}
.searchbar_box .box .icon{
    margin-right: 20px;
    /* border: 2px solid rgb(7, 7, 0); */
}
.searchbar_box .box .input_box{
    display: flex;
    height: 3rem;
    width: 93%;
    /* border: 2px solid rgb(13, 162, 13); */
    border-radius: 5px;
    background-color:  #f7f3f3;
}
.searchbar_box .box .input{
    display: flex;
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    background-color:  #f7f3f3;
   
    /* border: 2px solid rgb(13, 162, 13); */
}
.login{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    font-size: 20px;
    font-weight: 500;

}
 
.cart_container{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.cart{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    height: 2.4rem;
    width: 5.2rem;
    justify-content: center;
    border-radius: 3px;
    background-color: #294B29;
    color: white;
   

}
.cart a p{
    font-size: 19px;
    font-weight: 400;
}
.account{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    position: relative;
    font: 1em sans-serif;
}
.a-i{
    /* border: 2px solid black; */
    font: 0.9em sans-serif;
}
.account-list{
    box-shadow: 0 3px 6px rgba(250, 250, 250, 0.16), 0 3px 6px rgba(36, 36, 36, 0.23);
    display: flex;
    flex-direction: column;
    position: absolute;
    top:3.8rem;
    width: 9.9rem;
    right: -1.9rem;
    z-index: 1;
    background-color: white;
  
}
.account-list p{
    border-bottom:  0.5px solid rgb(220, 217, 217);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 12px;
    height:2.5rem ;
   font: 0.89em sans-serif;
}
.account-list p:hover{
    background-color:#eff8ef;
    cursor: pointer;
   
}
.ac:hover{
    cursor: pointer;
}
.circle{
    position: absolute;
    border: 1px solid rgb(175, 174, 174);
    top: 20px;
    background-color: white;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 40rem;
    right: 5.2rem;
    color: #294B29;
}